<h3>Artículos</h3>

<div class="commands text-right" style="margin-bottom:10px;">
  <button type="button"
          [routerLink]="['/articulosEdit']"
         style="background-color:teal; border:none;" class="btn btn-danger btn-sm">
    Agregar artículo
  </button>
</div>

<table class="table table-sm table-bordered table-striped">
  <tr style="background-color: gainsboro;"><th></th><th>Código</th><th>Descripción</th><th>Precio</th><th>Stock</th><th>Tiendas</th><th></th><th></th></tr>

  <tr *ngFor="let item of articulos; let i = index;">
    <td style="vertical-align:middle">{{i + 1}}</td>
    <td style="vertical-align:middle">{{item.codigo}}</td>
    <td style="vertical-align:middle">
      {{item.descripcion}}

      <div style="float:right;">
        <button id="addButton" class="btn  btn-sm pull-xs-right" title="Agregar al carrito"
                (click)="addProductToCart(item)" style="background-color: rgba(220, 220, 220, 0.6);  border-radius: 50px; margin-right: 6px;">
          <i  class="fa fa-cart-plus" style="color: teal; font-size:23px; "  ></i>
        </button>
      </div>

    </td>
    <td style="vertical-align: middle; text-align:right;">{{item.precio | currency}}  </td>
    <td style="vertical-align: middle; text-align:right;">{{item.stock}}</td>
    <td style="vertical-align:middle">

      <span *ngIf="item.articulosTienda.length == 0; else disponibilidad">Ninguna</span>

      <ng-template #disponibilidad>
        <button class="link-button" (click)="showStores(item.id)">
          {{item.articulosTienda.length}}
          <span *ngIf="item.articulosTienda.length > 1;">tiendas</span>
          <span *ngIf="item.articulosTienda.length == 1;">tienda</span>
        </button>
      </ng-template>


    </td>
    <td class="text-xs-center" style="text-align:center;">
      <button style="background-color:teal; border:none;" class="btn btn-danger btn-sm" [routerLink]="['/articulosEdit', item.id]">
        Editar
      </button>
    </td>
    <td class="text-xs-center" style="text-align:center;">
      <button style="background-color:crimson;" class="btn btn-danger btn-sm" (click)="deleteArticle(item.id)">
        Eliminar
      </button>
    </td>
  </tr>
</table>

<app-modal></app-modal>


