
.link-button {
  display: inline;
  padding: 0;
  border: 0;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;
  background: transparent;
  color: currentColor;
  -webkit-appearance: none;
  color: #0000EE;
}

  .link-button:hover {
    color:darkblue;
  }

  thead{
      background-color:gainsboro;
  }
